BODY { background-color: #FFFFEE;
               color: #333333; 
               font-weight: normal; 
               font-size: 10pt;
               font-family: Verdana, Arial, sans-serif;
               margin-top: 2em;
               margin-bottom: 2em;
               margin-left: 2em;
               margin-right: 2em;
}

.indent1 { 
               margin-top: 15pt;
               margin-left: 15pt;
}


.indentn1 { 
               margin-top: 0pt;
               margin-left: 15pt;
}


.indentn2 { 
               margin-top: 0pt;
               margin-left: 35pt;
			   margin-bottom:0pt;
}


.nomargins { 
               margin-top: 0pt;
               margin-bottom: 0pt;
}
.section { 
               font-size: 11pt;
			   font-weight: bold; 
}

.classdef { 
color: #A52A2A;
               margin-top: 30pt;
               margin-left: 0pt;
			   margin-bottom:4pt;
}

.propdef { 
               margin-top: 4pt;
               margin-left: 0pt;
			   margin-bottom:4pt;
}

.subclassdef { 
               margin-top: 4pt;
               margin-left: 0pt;
			   margin-bottom:4pt;
}

.topbar { font-weight: bold; 
background:  #D7D79E;
               font-size: 11pt;
               font-family: Georgia, Times, serif;
               font-variant:  small-caps;
               color: #804000;
               text-decoration: none;
}

.navtitle { font-weight: bold; 
               font-size: 9pt;
               font-family: Georgia, Times, serif;
               font-variant:  small-caps;
               color: #0080ff;
               text-decoration: none;
}

.titlebar { font-weight: bold; 
               font-size: 11pt;
               font-family: Georgia, Times, serif;
               font-variant:  small-caps;
               color: #008080;
               text-decoration: none;
}


.content { font-weight: normal; 
               font-size: 10pt;
               color: #000000;
               text-decoration: none;
}

A.content:hover {font-weight: normal; 
               font-size: 10pt;
               font-family: Verdana, Arial, sans-serif;
               text-decoration: none;
               color: #FF9933;
	}

.title { font-weight: bold; 
               font-size: 11pt;
               font-family: Georgia, Times, serif;
               font-variant:  small-caps;
               color: #333333;
               text-decoration: none;
}

.fablfunction { font-weight: bold; 
}



.releasenote { 
     color: #990000;
	 font-style:italic;
	 margin: 2em;
}

.strongemphasis { 
     color: #990000;
	 font-style:italic;
}


.subheading { 
	 font-weight:bold;
	 font-size:11pt;
	 color: #990000;

}

.ubold {
   text-decoration: underline;
   font-weight:bold;
}

